absl-py==2.3.1
aerial_gym==2.0.1
backcall==0.2.0
beautifulsoup4==4.10.0
Brotli==1.1.0
brotlipy==0.7.0
certifi==2024.8.30
cffi==1.17.0
chardet==4.0.0
charset-normalizer==3.4.0
click==8.1.8
cloudpickle==3.1.2
colorama==0.4.6
colorlog==6.9.0
conda-content-trust==0+unknown
conda-package-handling==1.7.3
contourpy==1.1.1
cryptography==47.0.0
cycler==0.12.1
Cython==3.2.9
dataclasses==0.8
decorator==5.1.1
docker-pycreds==0.4.0
exceptiongroup==1.2.2
Farama-Notifications==0.0.6
faster-fifo==1.4.7
filelock==3.16.1
fonttools==4.57.0
freetype-py==2.5.1
fsspec==2024.10.0
future==1.0.0
fvcore==0.1.5.post20221221
gitdb==4.0.12
GitPython==3.1.62
glob2==0.7
gmpy2==2.1.5
google-auth==2.50.0
google-auth-oauthlib==1.0.0
grpcio==1.70.0
gym==0.23.1
gym-notices==0.1.0
gymnasium==0.28.1
h2==4.1.0
hpack==4.0.0
huggingface_hub==0.26.5
hyperframe==6.0.1
idna==3.10
imageio==2.36.0
importlib_metadata==8.5.0
importlib_resources==6.4.5
iniconfig==2.0.0
iopath==0.1.10
ipython==7.31.1
isaacgym==1.0rc4
jax==0.4.13
jax-jumpy==1.0.0
jaxlib==0.4.12
jedi==0.18.1
Jinja2==3.1.4
kiwisolver==1.4.7
libarchive-c==2.9
lxml==4.9.2
Markdown==3.7
MarkupSafe==2.1.5
matplotlib==3.7.5
matplotlib-inline==0.1.2
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
ml-dtypes==0.2.0
mpmath==1.3.0
networkx==3.1
ninja==1.13.2
numpy==1.23.0
oauthlib==3.3.1
opencv-python==4.7.0
opt_einsum==3.4.0
packaging==26.2
parso==0.8.3
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.4.0
pip==24.3.1
pkginfo==1.8.2
platformdirs==4.3.6
pluggy==1.5.0
pooch==1.8.2
portalocker==2.10.1
promise==2.3
prompt-toolkit==3.0.20
protobuf==3.20.3
psutil==5.9.8
ptyprocess==0.7.0
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycollada==0.8
pycosat==0.6.3
pycparser==2.22
pygame==2.1.0
pyglet==1.5.27
Pygments==2.11.2
PyOpenGL==3.1.6
pyOpenSSL==21.0.0
pyparsing==3.1.4
pyrender==0.1.45
PySocks==1.7.1
pytest==8.3.4
python-dateutil==2.9.0
pytorch3d==0.7.5
pytz==2021.3
PyYAML==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
rl_games==1.6.1
ruamel-yaml-conda==0.15.100
sample-factory==2.1.1
scipy==1.10.1
sentry-sdk==2.69.2
setproctitle==1.3.7
setuptools==75.3.0
shortuuid==1.0.13
signal-slot-mp==1.0.5
six==1.16.0
smmap==5.0.3
soupsieve==2.3.1
sympy==1.13.3
tabulate==0.9.0
tensorboard==2.14.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
termcolor==2.4.0
threadpoolctl==3.5.0
tomli==2.0.2
torch==2.1.0
torchaudio==2.1.0
torchtext==0.12.0
torchvision==0.16.0
tqdm==4.67.1
traitlets==5.1.1
treelib==1.7.0
trimesh==4.5.3
triton==2.1.0
typeguard==2.13.3
typing_extensions==4.13.2
uav-visual-gap==0.1.0
urdfpy==0.0.22
urllib3==2.2.3
wandb==0.12.21
warp-lang==1.0.0
wcwidth==0.2.5
Werkzeug==3.0.6
wheel==0.45.1
yacs==0.1.8
zipp==3.21.0
zstandard==0.23.0
